table {
    border-spacing:0px;
}
tr:nth-child(4n+1), tr:nth-child(4n+2) {
  background-color: #CCCCCC
}
tr:nth-child(4n), tr:nth-child(4n+3) {
  background-color: #EEEEEE
}
th {
  background-color: rgba(0, 0, 0, 0.5);
}

td {
  vertical-align: text-top;
}
th {
  vertical-align: bottom;
}

th,
td {
  text-align: left;
}
th:nth-of-type(3),
td:nth-of-type(3) {
  text-align: right;
}

th,
td {
  padding: 0.25em 0.5em 0.25em 1em;
  text-indent: -0.5em;
  border: 0px solid black;
  
}
td#comment {
  padding: 0.25em 0.5em 0.25em 5em;
  font-style:italic;
  font-size:small;
  text-wrap:normal;
  word-wrap:break-word;
 
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
