table {
    border-spacing:0px;
}
tr:nth-child(even) {
  background-color: #CCCCCC
}
tr:nth-child(odd) {
  background-color: #EEEEEE
}

tr:hover{
  background-color: #FF5555;
}

th {
  background-color: #DDDDDD;
}

td {
  vertical-align: text-top;
}
th {
  vertical-align: bottom;
}

th,
td {
  text-align: left;
}
th:nth-of-type(3),th:nth-of-type(5)
 {
  text-align: center;
}
td:nth-of-type(3),td:nth-of-type(5)
{
  text-align:right;
}

th,
td {
  padding: 0.25em;
  font-size:small;
  border: 0px solid black;
  white-space:nowrap;
  
}
td#item {
  padding: 0.25em 0.5em 0.25em 0.25em;
  font-weight:bold;
  white-space: nowrap;

}
div#comment {
  padding: 0.25em 0.5em 0.25em 3em;
  text-indent: -1em;
  font-style:italic;
  font-weight:normal;
  font-size:small;
  white-space: normal;
 
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
